.footer{
    background-color: chartreuse;
    height: 60px;  
    bottom: 0; 
    position: absolute;
    width: 100%;
}

.footer p{
    color: black;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}